<div class="contenedor-padre">
  <mat-toolbar class="barra" >
    <mat-toolbar-row>
      <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        TIENDA ONLINE &nbsp;|&nbsp;YAVISHOP <mat-icon color="primary">important_devices</mat-icon>
      </span>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [matMenuTriggerFor]="menu">
        <span style="margin-right: 10px" [matBadge]="productos.length+''" matBadgeOverlap="false"
              matBadgePosition="below after">Carrito de compras</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let p of productos;">{{p.nombre}}  {{p.precio | currency}}</button>
        <button mat-menu-item>
          <strong>Total: {{total() | currency}}</strong>
        </button>
        <a *ngIf="productos.length > 0" mat-menu-item routerLink="/terminar_compra">
          <mat-icon>shopping_cart</mat-icon>
          Terminar compra</a>
      </mat-menu>
      <a style="margin-left: 10px" mat-raised-button color="primary"
         href="https://niulocker.com/" target="_blank">
       Acerca de  Niulocker !
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- barra horizontal -->
  <mat-sidenav-container class="contenido">
    <mat-sidenav style="min-width: 300px;" #cajon opened mode="side">
      <mat-nav-list>
        <br> 
        <img src="../assets/lockerf.jpg" height="180px" width="270px" alt="">
        <br><br>
        <hr><br>
        <p style="margin-left: 4px;">Administrador</p>
        <a mat-list-item routerLink="/productos">
          <mat-icon color="primary">list_alt</mat-icon>
          Productos
        </a>
        <a mat-list-item routerLink="/ventas">
          <mat-icon color="primary">local_shipping</mat-icon>
          Ventas
        </a> <hr>
        <br>
        <p style="margin-left: 4px;">Cliente</p>
       
        <a mat-list-item routerLink="/tienda">
          <mat-icon color="primary">store</mat-icon>
          Ver tienda
        </a>

        <a mat-list-item routerLink="/ubicaciones">
          <mat-icon color="primary">explore</mat-icon>
          Ubicaciones 
          
        </a>
<hr>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content class="padding-10">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  <FOOter class="pie">
    <DIV class="cotnainer"></DIV>
  <p class="text-white">&copy; niu-locker</p>
  </FOOter>
</div>

