.contenedor-padre {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.mat-icon.mat-primary {
  color: #0037ff;
}
img{
  border-radius: 30px;
}
.mat-drawer {
  background-color: rgb(228, 228, 228);
  color: rgba(0, 0, 0, 0.87);
font-size: 25px;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}
.mat-list-base .mat-list-item {
  color: rgba(11, 7, 7, 0.87);
font-family:cursive;}
.pie{
  position: relative;
  height: 20px;
  background-color: black;
  color: rgb(215, 215, 215);
  text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}

h2,h1{
  font-family: 'Times New Roman', Times, serif;
  color: red;
}
.barra {
  flex: 0 1 auto;
  background-color: rgb(138, 224, 98);
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.contenido {
  flex: 1 1 auto;
}

.padding-10 {
  padding: 10px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.fa-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right:40px;
  background-color: #39f055;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 10px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.fa-whatsapp:hover {
  background-color: #dc143c;
  color: #fff;
  transform: scale(1.1);
}

.email-float{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 110px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.email-float:hover{
  background-color: #dc143c;
  color: #fff;
}

.my-float{
  margin-top: 16px;
}