.contenedor-padre {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.mat-icon.mat-primary {
  color: #0037ff;
}
img{
  border-radius: 30px;
}
.mat-drawer {
  background-color: rgb(228, 228, 228);
  color: rgba(0, 0, 0, 0.87);
font-size: 25px;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}
.mat-list-base .mat-list-item {
  color: rgba(11, 7, 7, 0.87);
font-family:cursive;}
.pie{
  position: relative;
  height: 20px;
  background-color: black;
  color: rgb(215, 215, 215);
  text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}

h2,h1{
  font-family: 'Times New Roman', Times, serif;
  color: red;
}
.barra {
  flex: 0 1 auto;
  background-color: rgb(138, 224, 98);
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.contenido {
  flex: 1 1 auto;
}

.padding-10 {
  padding: 10px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
