table {
  width: 100%;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 30pt;
font-family: 'Times New Roman', Times, serif;
font-style:inherit;
text-align: center;
}
/* table {
  width: 100%;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
} */