.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://th.bing.com/th/id/OIP.fLcy5oV6bGw5GWPc3dSfxQHaHa?pid=ImgDet&rs=1');
background-size:cover ;
}
  h1{
    font-size: 27pt;
  font-family: 'Times New Roman', Times, serif;
  font-style:inherit;
  text-align: center;
  color: blue;
  }
  h2{
    font-size: 22pt;
  font-family: 'Times New Roman', Times, serif;
  font-style:inherit;
  text-align: center;
  color: rgb(68, 233, 98);
  }
  agm-map {
    height: 300px;
  }