<H1>UBICACIONES DISPONIBLES ACTUALMENTE  </H1>
<hr>
  <h2>{{ title }}</h2>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->

    <iframe mat-card-image
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
    width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->
   

<mat-grid-list cols="3" rowHeight="4:6">
   <hr>
    <h2>Sucursales Disponibles </h2>

    <mat-grid-tile>
        
        <mat-card class="example-card ">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>LOCKER DISPONIBLE</mat-card-title>
                <mat-card-subtitle>(SECTOR CARCELEN)</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <mat-card-content>
                <p>
                    LOCKER (SECTOR CARAPUNGO)
                    Av. Quito s/n y Abraham Calazacón, Santo Domingo (Envío: 3-5 días hábiles)
                    Lunes a Sábado de 9:30 a 21:00
                    Teléfono: 1800 627284
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>LOCKER DISPONIBLE</mat-card-title>
                <mat-card-subtitle>(CENTRO COMERCIAL SCALA)</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <mat-card-content>
                <p>
                    Av. Interocéanica, Km 12 1/2 y Pasaje El Valle, Cumbayá (Envío: 3-5 días hábiles)
Lunes a Sábado de 9:30 a 21:00
Teléfono: 1800 627284
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>LOCKER DISPONIBLE</mat-card-title>
                <mat-card-subtitle>(CENTRO COMERCIAL RECREO)</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <mat-card-content>
                <p>
                    Av. Pedro Vicente Maldonado S11-122 y Calle Calvas, Quito (Envío: 3-5 días hábiles)
                    Lunes a Sábado de 9:30 a 21:00
                    Teléfono: 1800 627284
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>LOCKER DISPONIBLE</mat-card-title>
                <mat-card-subtitle>(CENTRO COMERCIAL QUICENTRO SUR)</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <mat-card-content>
                <p>
                    AV. Quitumbe Ñan s/n y Av. Rafael Moran Valverde, Quito (Envío: 3-5 días hábiles)
                    Lunes a Sábado de 9:30 a 21:00
                    Teléfono: 1800 627284
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>LOCKER DISPONIBLE</mat-card-title>
                <mat-card-subtitle>(SECTOR CONDADO)</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <mat-card-content>
                <p>
                    Av. América y Jorge Washington, Portoviejo (Envío: 3-5 días hábiles)
Lunes a Domingo  de 09:00 a 21:00
Teléfono: 1800 627284
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>LOCKER DISPONIBLE</mat-card-title>
                <mat-card-subtitle>(SECTOR TUMBACO)</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <mat-card-content>
                <p>
                    Km 10.5 Vía la Aurora, Samborondón (Envío: 3-5 días hábiles)
                    Lunes a Domingo de 9:00 a 21:00
                    Teléfono: 1800 627284
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>


<!-- 
<h1 class="text-center fw-bolder text-info boton-desa ">LOCKERS DISPONIBLES ACTUALMENTE</h1>
<div>

    <section class="mt-5 border-top">
        <div class="row">
            <div class="col-3 border-end full-heigth">
                <ul class="mx-6 p-1 list-group">
                    <li class="list-group-item border-0 fs-5 fw-bolder text-info boton-desa " (click)="tap=0">
                        LOCKER (SECTOR CARAPUNGO)
                        Av. Quito s/n y Abraham Calazacón, Santo Domingo (Envío: 3-5 días hábiles)
                        Lunes a Sábado de 9:30 a 21:00
                        Teléfono: 1800 627284</li>
                    <hr>
                    <li class="list-group-item border-0 fs-5 fw-bolder  boton-desa text-secondary" (click)="tap=1">
                        LOCKER (SECTOR CARCELEN)
                        Av.Francisco de Orellana s/n y Carlos Luis Plaza Dañin,Guayaquil (Envío: 3-5 días hábiles)
                        Lunes a Sábado de 10:00am a 21:00pm y Domingos desde 11:00 a 20:00pm
                        Teléfono: 1800 627284</li>
                    <hr>
                    <li class="list-group-item border-0 fs-5 fw-bolder text-info boton-desa" (click)="tap=2">LOCKER
                        (SECTOR QUITO SUR )
                        Av. Quito s/n y Abraham Calazacón, Santo Domingo (Envío: 3-5 días hábiles)
                        Lunes a Sábado de 9:30 a 21:00
                        Teléfono: 1800 627284</li>
                    <hr>
                    <li class="list-group-item border-0 fs-5 fw-bolder  boton-desa text-secondary" (click)="tap=3">
                        LOCKER (SECTOR TUMBACO)
                        Av.Francisco de Orellana s/n y Carlos Luis Plaza Dañin,Guayaquil (Envío: 3-5 días hábiles)
                        Lunes a Sábado de 10:00am a 21:00pm y Domingos desde 11:00 a 20:00pm
                        Teléfono: 1800 627284</li>
                    <hr>
                    <li class="list-group-item border-0 fs-5 fw-bolder text-info boton-desa" (click)="tap=4">LOCKER
                        (SECTOR RECREO)
                        Av. Quito s/n y Abraham Calazacón, Santo Domingo (Envío: 3-5 días hábiles)
                        Lunes a Sábado de 9:30 a 21:00
                        Teléfono: 1800 627284</li>
                </ul>
            </div>
            <div class="col-9">

                <div class="container" *ngIf="tap===10">
                    <hr>
                    <div class="d-flex flex-row bd-highlight my-3">
                        <small>
                            <p class="text-dark m-2 text-danger">Niu Locker te brinda seguridad y
                                tranquilidad gracias a nuestra tecnología,
                                <br> recibe y retira tus encomiendas 24/7, tu paquete estará seguro con nosotros.
                            </p>
                        </small>
                    </div>
                    <div class="text-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                            width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>

                </div>

                <div class="container" *ngIf="tap===1">
                    <div class="d-flex flex-row bd-highlight my-3">
                        <h3 class="fs-3 text-secondary m-2 text-danger">Este locker se encuentra en el
                            sector de
                        </h3>

                    </div>

                    <div class="d-flex flex-row bd-highlight my-3">
                        <p class="text-dark m-2">Niu Locker te brinda seguridad y
                            tranquilidad gracias a nuestra tecnología,
                            <br> recibe y retira tus encomiendas 24/7, tu paquete estará seguro con nosotros..
                        </p>

                    </div>
                    <div class="text-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                            width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
                <div class="container" *ngIf="tap===1">
                    <div class="d-flex flex-row bd-highlight my-3">
                        <h3 class="fs-3 text-secondary m-2 text-danger">Este locker se encuentra en el
                            sector de
                        </h3>


                    </div>

                    <div class="d-flex flex-row bd-highlight my-3">
                        <p class="text-dark m-2">Este locker se encuentra en el
                            sector de
                            <br>
                        </p>

                    </div>
                    <div class="text-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                            width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
                <div class="container" *ngIf="tap===1">
                    <div class="d-flex flex-row bd-highlight my-3">
                        <h3 class="fs-3 text-secondary m-2 text-danger">Este locker se encuentra en el
                            sector de
                        </h3>

                    </div>

                    <div class="d-flex flex-row bd-highlight my-3">
                        <p class="text-dark m-2">Niu Locker te brinda seguridad y
                            tranquilidad gracias a nuestra tecnología,
                            <br> recibe y retira tus encomiendas 24/7, tu paquete estará seguro con nosotros.
                        </p>

                    </div>
                    <div class="text-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                            width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>

                <div class="container" *ngIf="tap===2">
                    <div class="d-flex flex-row bd-highlight my-3">
                        <h3 class="fs-3 text-secondary m-2">Este locker se encuentra en el
                            sector de
                        </h3>


                    </div>

                    <div class="d-flex flex-row bd-highlight my-3">
                        <p class="text-dark m-2">Niu Locker te brinda seguridad y
                            tranquilidad gracias a nuestra tecnología,
                            <br> recibe y retira tus encomiendas 24/7, tu paquete estará seguro con nosotros.
                        </p>

                    </div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                        width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="container" *ngIf="tap===3">
                    <div class="d-flex flex-row bd-highlight my-3">
                        <h3 class="fs-3 text-secondary m-2">Este locker se ecnuentra disponible en la dirreccion de
                        </h3>


                    </div>

                    <div class="d-flex flex-row bd-highlight my-3">
                        <p class="text-dark m-2">Una vez creado el pedido, el servidor
                            de Picker empezará la búsqueda de un repartidor cercano disponible y le asignará el pedido.
                            Cuando un conductor acepte el pedido, se enviará un POST request del servidor de Picker a la
                            url que el negocio especificó para manejar el evento de DRIVER_ASSIGNED.</p>

                    </div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                        width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="container" *ngIf="tap===4">
                    <div class="d-flex flex-row bd-highlight my-3">
                        <h3 class="fs-3 text-secondary m-2"> ESTE LOCKER SE ENCUENTRA EN EL SECTOR DE </h3>


                    </div>


                    <div class="d-flex flex-row bd-highlight my-3">
                        <p class="text-dark m-2">Niu Locker te brinda seguridad y
                            tranquilidad gracias a nuestra tecnología,
                            <br> recibe y retira tus encomiendas 24/7, tu paquete estará seguro con nosotros.
                        </p>

                    </div>
                    <div class="text-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.797618988416!2d-78.48286028255616!3d-0.18456979999999734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc181c675b5%3A0xcb495a77417d9e5f!2sNiu%20Locker!5e0!3m2!1ses!2sec!4v1661377097833!5m2!1ses!2sec"
                            width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->

